<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 ，但是使用了接口的动态代理，必须写成Dao的全限定类名   -->
<mapper namespace="com.zhaopeng.mapper.EmpMapper">
    <!--
        1.#{},预编译的方式preparedstatement，使用占位符替换，防止sql注入，一个参数的时候，任意参数名可以接收
        2.${},普通的Statement，字符串直接拼接，不可以防止sql注入，一个参数的时候，必须使用${value}接收参数
    -->

    <!--
        statement  内容：sql语句。
       id：唯一标识，随便写，在同一个命名空间下保持唯一，使用动态代理之后要求和方法名保持一致
       resultType：sql语句查询结果集的封装类型，使用动态代理之后和方法的返回类型一致；resultMap：二选一
       parameterType：参数的类型，使用动态代理之后和方法的参数类型一致
    -->
    <!--配置 dao 中查询所有的方法 findAll() -->
    <select id="findAll" resultType="com.zhaopeng.domain.Emp">
        select * from emp;
    </select>

    <select id="findById" resultType="com.zhaopeng.domain.Emp" parameterType="int">
        select * from emp where EMPNO = #{79999}
    </select>

    <insert id="insertIntoEmp" parameterType="com.zhaopeng.domain.Emp">
        INSERT INTO emp
        (
            empno,ename,job,mgr,hiredate,sal,comm,deptno
        )
        VALUES
        (
            #{empno},#{ename},#{job},#{mgr},#{hiredate},#{sal},#{comm},#{deptno}
        )
    </insert>

    <!--
        <trim prefix="" suffix="" suffixOverrides="" prefixOverrides=""></trim>

            prefix:在trim标签内sql语句加上前缀

            suffix:在trim标签内sql语句加上后缀

            suffixOverrides:指定去除多余的后缀内容，如：suffixOverrides=","，去除trim标签内sql语句多余的后缀","

            prefixOverrides:指定去除多余的前缀内容
    -->
    <update id="updateEmp" parameterType="com.zhaopeng.domain.Emp">
            update emp
        <trim prefix="set"  suffixOverrides=",">
            <if test="empno!=null">
                empno = #{empno},
            </if>
            <if test="ename!=null">
                ename = #{ename},
            </if>
            <if test="job!=null">
                job = #{job},
            </if>
            <if test="mgr!=null">
                mgr = #{mgr},
            </if>
            <if test="sal!=null">
                sal = #{sal},
            </if>
            <if test="comm!=null">
                comm = #{comm},
            </if>
            <if test="hiredate!=null">
                hiredate = #{hiredate},
            </if>
            <if test="deptno!=null">
                deptno = #{deptno}
            </if>
        </trim>
        WHERE
        (empno = #{empno})
    </update>
</mapper>
